*, *::before, *::after {
  box-sizing: border-box; /* Includes padding and borders within the element's total width and height */
  margin: 0;              /* Removes default outer margins on body, headings, and paragraphs */
  padding: 0;             /* Removes default inner padding on lists and containers */
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}


.side-bar {
  min-width: 250px; /* Fixed width for the sidebar */
  height: 100vh; /* Full viewport height */
  background-color: #f4f4f4; /* Light gray background */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start (left) */
  padding: 20px 0 0 20px; /* Add some padding around the content */
  overflow: hidden;;
}

.side-bar .header {
  font-size: 24px; /* Larger font size for the title */
  font-weight: bold; /* Make the title bold */
  margin-bottom: 20px; /* Space below the title */
} 

.side-bar nav {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  width: 100%; /* Make nav take full width of sidebar */
}


.side-bar nav div:hover {
  background-color: #ddd; /* Light gray background on hover */
}

.projects-div {
  min-height: 0px;
  margin-top: 30px; /* Space above the projects section */
  width: 100%; /* Make projects div take full width of sidebar */
}

.side-nav div {
  display: flex;
  align-items: center; /* Center items vertically */
  padding: 10px; /* Add padding for better click area */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.side-nav svg {
  width: 24px; /* Set width of the SVG icon */
  height: 24px; /* Set height of the SVG icon */
  margin-right: 8px;
}

.projects-div .header {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
}

.projects-div span {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  cursor: pointer;
  width: 28px; /* Set width of the SVG icon */
  height: 28px; /* Set height of the SVG icon */
  border-radius: 14px;
}

.projects-div span:hover {
  background-color: #ddd; /* Light gray background on hover */
}

.project-list {
  flex: 1 1 auto;
  min-height: 0px;
  overflow-y: auto;
}

#content {
  padding: 50px;
  width: 1000px;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

dialog {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 550px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog input, dialog select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

dialog button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.project-select {
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  background-color: transparent;
}

.form-last-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-project-button{
  cursor: pointer;
}

.new-project-submit-btn svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.new-project-input{
  margin-right: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.new-project-input button {
  border-radius: 2px;
  height: fit-content;
  font-size: 20px;
  flex: 1;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
}

.new-project-submit-btn{
  background-color: green;
  color: white;
}

.new-project-cancel-btn{
  background-color: grey;
  color: white;
}

.new-project-submit-btn:hover{
  background-color: rgb(2, 100, 2);
  color: white;
  cursor: pointer;
}

.new-project-cancel-btn:hover{
  background-color: rgb(102, 101, 101);
  color: white;
  cursor: pointer;
}

.new-project-input input {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}

.project-item {
  padding: 8px;
  display: flex;
  align-items: center;
}

.project-item svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.project-item:hover {
  background-color: #ddd; /* Light gray background on hover */

}

